<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
    
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Admin Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img class="Profile" src="assets/images/Profile.png">
  </div>
  <div>
    <ion-button routerLink="/company" color="success" expand="full" shape="round">
      <ion-icon name="add"></ion-icon>Add COMPANY
    </ion-button>
  </div>
  <div>
    <ion-button routerLink="/admin-dashboard" color="success" expand="full" shape="round">
      <ion-icon name="add"></ion-icon>ADD CAR
    </ion-button>
  </div>
  <div>
    <ion-button routerLink="/bookings" color="success" expand="full" shape="round">
      <ion-icon name="book-outline"></ion-icon>BOOKINGS
    </ion-button>
  </div>
  <div>
    <ion-button routerLink="/feedback" color="success" expand="full" shape="round">
      <ion-icon name="newspaper-outline"></ion-icon>VIEW FEEDBACK
    </ion-button>
  </div>

</ion-content>
