.Registration-Title{
    text-align: center;
}
.danger-alert{
    color: red;
    font-size: 12px;
}
.registration-card{
    box-shadow: none;
}
.registration{
    margin-left: 30px;
}
.Error_message{
    color: red;
    font-size: 12px;
}