.Register{
  margin-left: 40%;
}
.Login{
  margin-top: 50px;
}
.Login-card{
  box-shadow: none;
  border: none;
}
.error_message{
  color: red;
  font-size: 12px;
}
.Logo{
  height: 250px;
  margin-left: 50px;
 
}
.facebook{
  width: 30px;
  color: red;
  height: 30px;
  margin-left: 10px;
}
.twitter{
  width: 30px;
  height: 30px;
  color: red;
  margin-left: 10px;
}
.pinterest{
  width: 30px;
  height: 30px;
  color: red;
  margin-left: 10px;
}
.Media{
  left: 100px;
}
.Footer{
 
}